.monaco-editor-container {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.monaco-editor,
.overflow-guard,
.monaco-scrollable-element {
    width: 100%;
    height: 100%!important;
}